* {
    font-family: monospace, monospace;
    background: #111;
    color: #ddd;
}

img {
    display: flex;
    padding: 0px 3px;
    height: 1em;
    align-items: baseline;
}

.file {
    display: flex;
    padding: 3px 0px;
}